$main-background-color: white;
$text-color: #464b4e;
$border: #e5e5e5;
$red-color: #ef5350;
$green-color: #70c582;
$transparent-red: rgba(239, 83, 80, 0.17);
$transparent-green: rgba(112, 197, 130, 0.17);

$dark-main-background-color: #212121;
$dark-text-color: white;
$dark-border: rgba(255, 255, 255, 0.25);
$dark-transparent-blue: rgba(2, 58, 254, 0.17);

$light-blue: rgba(24, 106, 180, 0.25);
$dark-blue: #186ab4;
$transparent: transparent;
